.list-header{
    position:sticky;
    top:0;
    background-color: rgb(197, 196, 196);
    height: 50px;
    margin-bottom: 10px;
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.vector{
    font-weight: bold;
}
.list-group{
    width: 80%;
}
.list-group div{
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.8em;
}

.list{
    display: flex;
    justify-content: center;
}
.slider-3{
    position: absolute;
    top:0;
    left: 0;
    height: 13vh;
    width:100%;
    background: linear-gradient(to left, rgb(248, 248, 248),rgba(214, 214, 214, 0.89));
    z-index: -1;
}