.container-content{
    min-height: 67.5vh;
}
.list-header{
    text-align: center;
    position: relative;
    line-height: 100px;
    vertical-align: center;
}
.part{
    display: flex;
    margin-top:10px;
    line-height: 1.9em;
    padding-left:20px;
    align-items: center;
    border-bottom: 3px outset #1C6EA4;
}
.hidden {
    max-height: 0; 
    overflow: hidden; 
    /* You should prefix the following: */
    transition: max-height 100ms;
}
.hidden.active {
    /* Depending on this value, your animatiom will seem faster or shorter */
    max-height: 100%;
}
.slider-5{
    position: absolute;
    top:0;
    left: 0;
    height: 13vh;
    width:100%;
    background: linear-gradient(to left, rgb(248, 248, 248),rgba(214, 214, 214, 0.89));
    z-index: -1;
}
.container-differential{
    display: flex;
    justify-content: center;
}
.list-group{
    flex:3;
}
.nav-bar{
    flex:1;
}
.list-container{
    display: flex;
    justify-content: center;
    width: 80%;
}
.burger-2 div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin:5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.burger-container{
    margin-right:5%;
    display: flex;
    justify-content:flex-end;
}
.title{
    flex:1;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity:0
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
.content-problem{
    padding-left:20px;
    padding-right: 20px;
}
.burger-container:hover{
    -webkit-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75);
}
.progress{
    font-size: 15px;
    color: gray;
}
.part-title{
    font-size: 1.2em;
}
.nav-bar{
    flex: 1;
    position: sticky;
    top:0;
    left: 20;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.nav-bar div{
    border-bottom: 0.5px solid rgba(184, 184, 184, 0.87);
    line-height: 40px;
    padding-left: 7px;
}
.nav-bar div:hover{
    -webkit-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75);
    opacity:1;
}
